asgiref==3.8.1
black==24.8.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
dj-rest-auth==6.0.0
Django==5.1.2
django-allauth==65.0.2
django-cors-headers==4.4.0
django-filter==24.3
django-rest-authtoken==2.1.4
djangorestframework==3.15.2
drf-yasg==1.21.7
idna==3.10
inflection==0.5.1
littleutils==0.2.4
mypy-extensions==1.0.0
node==1.2.2
odict==1.9.0
outdated==0.2.2
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
plumber==1.7
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
sqlparse==0.5.1
uritemplate==4.1.1
urllib3==2.2.3
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==7.0
zope.interface==7.0.3
zope.lifecycleevent==5.0
zope.proxy==6.1
